.button {
	max-width: 335px;
    width: 100%;
	padding: 16px;
	background-color: $pacific-blue;
	font: {
		weight: 600;
		size: 1rem;
	}
	color: $white;
	border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        opacity: .8;
    }

    &:active {
        opacity: .8;
        background-color: $cerulean;
    }

    &:disabled {
        opacity: .8;
        background-color: $heather;
    }
}

.h2 {
    font: {
        size: 1.5385rem;
        weight: 700;
    }
}

.arrow {
    width: 52px;
    height: 52px;
    text-align: center;
    border: 1px solid $pacific-blue;
    border-radius: 6px;
    padding: 10px;

    &_left {
        background: url('../icons/arrow.svg') no-repeat center;
        transform: scaleX(-1)
    }

    &_right {
        background: url('../icons/arrow.svg') no-repeat center;
    }
}
