@font-face {
    font-family: 'SFProRounded';
    src: url(../../fonts/SFProRounded-Semibold.woff) format(woff),
        url(../../fonts/SFProRounded-Semibold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText-Bold';
    src: url(../../fonts/SFProText-Bold.woff) format(woff),
        url(../../fonts/SFProText-Bold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText-Medium';
    src: url(../../fonts/SFProText-Medium.woff) format(woff),
        url(../../fonts/SFProText-Medium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText-Regular';
    src: url(../../fonts/SFProText-Regular.woff) format(woff),
        url(../../fonts/SFProText-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText-Semibold';
    src: url(../../fonts/SFProText-Semibold.woff) format(woff),
        url(../../fonts/SFProText-Semibold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
