.hover {
    &:hover {
        opacity: .8;
    }
}

.active {
    &:active {
        opacity: .8;
        color: $cerulean;
    }
}

.wrapper-1760 {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 20px;
}