//  Colors
$black: #000000;
$swamp: #131515;
$white: #FFFFFF;
$grey: #777777;
$black-pearl: #1B1E1F;
$pale-sky: #586C75;
$pacific-blue: #0297D4;
$cerulean: #077AA9;
$maya-blue: #6AD3FF;
$alice-blue: #F3F6F9;
$heather: #B3C8D1;
$solitude: #F2F4F8;
$white-smoke: #F5F5F5;
$free-speech-red: #B80101;
$china-ivory: #FFF5CC;
$tangerine-yellow: #FFCD00;

// Fonts
$SFProRounded: 'SFProRounded', 'Arial', sans-serif;
$SFProText: 'SFProText', 'Arial', sans-serif;
