//  Colors
$black: #000000;
$white: #FFFFFF;
$grey: #777777;
$pale-sky: #586C75;
$pacific-blue: #0297D4;
$cerulean: #077AA9;
$maya-blue: #6AD3FF;
$alice-blue: #F3F6F9;
$heather: #B3C8D1;
$solitude: #F2F4F8;
$free-speech-red: #B80101;
$china-ivory: #FFF5CC;
$tangerine-yellow: #FFCD00;

// Fonts
$SFProRounded-Semibold: 'SFProRounded-Semibold', 'Arial', sans-serif;
$SFProText-Bold: 'SFProText-Bold', 'Arial', sans-serif;
$SFProText-Medium: 'SFProText-Medium', 'Arial', sans-serif;
$SFProText-Regular: 'SFProText-Regular', 'Arial', sans-serif;
$SFProText-Semibold: 'SFProText-Semibold', 'Arial', sans-serif;
