.calculation {
	background-color: $solitude;
	padding: 100px;

	@media (max-width: 980px) {
		padding: 50px 0;
	}

	&__title {
		margin-bottom: 48px;
	}

	&__desc {
		margin-bottom: 20px;
	}

	&__subtitle {
		margin-bottom: 64px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;
		padding-top: 50px;
		z-index: 1;
		position: relative;

		@media (max-width: 1440px) {
			grid-template-columns: repeat(2, minmax(332px, 1fr));
			row-gap: 100px;
			column-gap: 40px;
		}

		@media (max-width: 980px) {
			grid-template-columns: 1fr;
		}
	}

	&__icon {
		width: 149px;
		height: 149px;
		border-radius: 50%;
		background-color: $pacific-blue;
		position: absolute;
		top: -60px;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;

		&_gear::before,
		&_mileage::before,
		&_lifting-capacity::before,
		&_tools::before {
			content: "";
			width: 80px;
			height: 80px;
			position: absolute;
			z-index: 2;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
		}

		&_gear::before {
			background: url("../icons/gear.svg") no-repeat;
		}

		&_mileage::before {
			background: url("../icons/mileage.svg") no-repeat;
		}

		&_lifting-capacity::before {
			background: url("../icons/lifting-capacity.svg") no-repeat;
		}

		&_tools::before {
			background: url("../icons/tools.svg") no-repeat;
		}
	}

	&__list-item {
		background-color: $pacific-blue;
		padding: 20px;
		border-radius: 20px;
		text-align: center;
		color: $white;
		position: relative;
		height: 344px;
		z-index: 1;

		@media (max-width: 1440px) {
			height: 234px;
		}
	}

	&__list-title {
		font: {
			size: 0.7692rem;
			font-weight: 700;
		}
		margin-bottom: 17px;
	}

	&__list-text {
		font-size: 0.6923rem;
	}
}
