.contacts {
	background-color: $white-smoke;
	padding-bottom: 80px;

	&__banner {
		background: url("../img/banner.png") no-repeat 0;
		background-size: cover;
		font: {
			size: 1.9231rem;
			weight: 700;
		}
		color: $white;
		padding: 36px 0 45px;
		text-align: center;

		span {
			color: $maya-blue;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	&__pagination {
		display: flex;
		gap: 18px;
		justify-content: center;
	}

	&__pagination-btn {
		color: $pacific-blue;
		cursor: pointer;
		font: {
			size: 1rem;
			weight: 700;
		}
		text-transform: uppercase;
		border: 1px solid $pacific-blue;
		width: 52px;
		height: 52px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;

		&_active {
			background-color: $pacific-blue;
			color: $white;
		}

		&_hidden {
			display: none;
		}

		&_right {
			background: url('../icons/arrow.svg') no-repeat;
			background-position: center;
		}
	}
}
