.faq {
	background-color: $white;
	padding: 100px 0;

	@media (max-width: 980px) {
		padding: 50px 0;
	}

	&__title {
		margin-bottom: 48px;
	}

	&__wrapper {
        display: grid;
        gap: 39px;
        grid-template-columns: 1fr auto;

		@media (max-width: 980px) {
			grid-template-columns: 1fr;
		}

	}

	&__answer {
		display: flex;
		flex-direction: column;
		gap: 48px;
		font: {
			size: 1rem;
			weight: 600;
		}
        margin-top: 48px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__img img {
		max-width: 677px;
		height: 611px;
		object-fit: contain;

		@media (max-width: 980px) {
			height: 300px;
		}
	}
}
