.features {
    position: relative;

    &__wrapper {
        padding: 100px 0 330px;
    }

    &__title {
        margin-bottom: 48px;
    }

    &__desc {
        margin-bottom: 20px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 34px;
    }

    &__subtitle {
        font-weight: 600;
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__list-item {
        position: relative;
        padding-left: 45px;
        display: flex;
        align-items: center;
        cursor: default;

        &::before {
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;
            left: 0;
            background: url('../icons/counter-done.svg') no-repeat;
        }
    }

    &__img img {
        max-width: 630px;
        height: 645px;
        object-fit: contain;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(2, minmax(684px, 1fr));
        gap: 32px;
        position: absolute;
        bottom: -380px;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    &__info-block {
        background-color: $china-ivory;
        padding: 48px;
        border-radius: 20px;
    }

    &__info-title {
        font-weight: 600;
        margin-bottom: 32px;
    }
}