.header {
    background-color: $white;

    &__wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 21.5px 20px;
        align-items: center;

        @media (max-width: 980px) {
            justify-content: center;
            gap: 50px;
        }
    }
}