.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 78px;
    align-items: center;

    &__item {
        font-size: 0.7692rem;
        text-transform: uppercase;
        cursor: pointer;

        a {
            display: block;
            margin-left: 57px;
        }
    }

    &__active {
        position: fixed;
        top: 0;
        left: 0;
        padding: 40px;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        transition: .3s;
        z-index: 2;
    }
}